:root {
	--background: #ffffff;
	--foreground: #171717;
	--board-size: 640px;
	--color-player1: #FFD700;
	--color-player2: #0F47AF;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}
h1{
	margin-bottom: 16px;
}
.game{
	width: var(--board-size);
	display: flex;
	left: 0;
	right: 0;
	flex-wrap: wrap;

	margin: auto;
	padding: 16px;
	background-color: #666;
	justify-content: center;
}
.players{
	width: 100%;
	display: flex;
	justify-content: space-between;
	list-style: none;

	margin: 0;
	padding: 0 0 16px;
}
.players > li{
	position: relative;
	padding: 0 0 0 20px;
	margin: 0;
}
li.player1::after,
li.player2::after{
	content: '';
	width: 12px;
	height: 12px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;

	border-radius: 12px;

	background-color: var(--color-player1);
}
li.player2::after{
	background-color: var(--color-player2);
}
.bg--player1{
	background-color: var(--color-player1)
}
.bg--player2{
	background-color: var(--color-player2)
}
.player{
	opacity: 0.5;
}
.player--current{
	opacity: 1;
	border-bottom: 3px solid
}
.board{
	width: var(--board-size);
	height: var(--board-size);
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); /* Fixed row height */
    gap: 15px;
    padding: 20px;
}
.board-cell{
	border: 4px solid #999;
	background-color: rgba(255, 255, 255, 1);

	color: #000;
	cursor: pointer;
	font-size: 72px;
}
.board-cell:hover{
	opacity: 0.7;
}
.board-cell--blocked{
	cursor: not-allowed;
}
.board-cell--blocked:hover{
	opacity: 1;
}