.board{
	width: var(--board-size);
	height: var(--board-size);
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); /* Fixed row height */
    gap: 15px;
	position: relative;

    padding: 20px;
}
.board--blocked::after{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	background-color: rgba(255, 255, 255, 0.1);
}
.board__cell{
	border: 4px solid #eee;
	background-color: rgba(255, 255, 255, 1);

	color: #000;
	cursor: pointer;
	font-size: 72px;
}
.board__cell:hover{
	opacity: 0.7;
	box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
}
.board__cell--blocked{
	cursor: not-allowed;
}
.board__cell--blocked:hover{
	opacity: 1;
	box-shadow: none;
}
.board__cell--hilite{
	opacity: 1;
	cursor: not-allowed;

	border-color: black;
	box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
}
.board__cell--hilite:hover{
	opacity: 1;
}
.bg--player1{
	background-color: var(--color-player1);
}
.bg--player2{
	background-color: var(--color-player2);
}