:root {
	--background: #ffffff;
	--foreground: #171717;
	--board-size: 640px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
.boardContainer{
	display: grid;
    justify-content: center; /* Centers grid horizontally */
    align-content: center;   /* Centers grid vertically (if height is set) */
}
.board{
	width: var(--board-size);
	height: var(--board-size);
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); /* Fixed row height */
    gap: 15px;
    padding: 20px;
}
.board-cell{
	border: 4px solid #999;
	background-color: rgba(255, 255, 255, 1);

	color: #000;
	cursor: pointer;
	font-size: 72px;
}
.board-cell:hover{
	opacity: 0.7;
}
